.home{
    background-image: url('/images/bg-2.png');
}

.home main{
    display: flex;
    flex-wrap: wrap;
}

.home main .productos{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.home main .productos article{
    width: 90%;
    margin: 20px 0 ;
}

.home main .productos article img{
    width: 100%;
}

.home main .productos article h4{
    margin: 10px 0;
}

.home main .productos article a{
    display: inline-block;
    margin: 10px 0;
    padding: 8px;
    background-color: var(--color-rojo);
    color: #fff;
    text-transform: uppercase;
}

.home main aside{
    width: 100%;
}

.home aside h3, .home aside .tuto, .home aside .ads{
    background-color: #fff;
    border: 1px solid #bcf1f9;
    padding: 10px 5%;
}

.home aside h3{
    
}

.home aside .ads img{
    width: 100%;
}

